.todo-complete {
  border: 1px solid greenyellow;
  border-radius: 10px;
  background: green;
}

.todo-not-complete {
  border: 1px solid orangered;
  border-radius: 10px;
  background: red;
}

.todos {
  list-style: none;
  padding: 0;
}